/* Styling Excursion */
* {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  }

.header {
  font-size: 50px;
  color: white;
  font-weight: normal;
  /* The design mock WEBSITE shows a bold h1 font-weight: bold; */
}

.dl a {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

img {
  padding: 10px;
}

.footer p {
    color: grey;
    text-align: right;
  }

p {
    color: grey;
    font-size: 21px;
}

.mov {

}
